<div class="chat-wrapper">

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-header">
            <input type="text" class="form-control" placeholder="Search users..." [ngModel]="chatService.searchQuery()"
                (ngModelChange)="chatService.searchQuery.set($event)" />
        </div>

        <div class="user-list">
            @for (user of chatService.filteredUsers(); track user.id) {
            <div (click)="selectUser(user)" [ngClass]="{ 'active-user': user.id === chatService.selectedUser()?.id }"
                class="user-item">
                {{ user.first_name }}
                @if (chatService.onlineUsersIds().includes(user.id)) {
                <span class="online-dot"></span>
                }
            </div>
            }
        </div>
    </div>

    <!-- Chat Section -->
    <div class="chat-section">

        <!-- Chat Header -->
        <div class="chat-header">
            {{ chatService.selectedUser()?.first_name || 'Select a user' }}
        </div>

        <!-- Messages -->
        <div class="chat-body" #scrollContainer (scroll)="onScroll()">

            @for (msg of chatService.messages(); track msg.id) {
            <div class="message-row" [ngClass]="msg.fromSelf ? 'self' : 'other'">
                <div class="message-bubble">
                    {{ msg.message }}
                </div>
            </div>
            }
        </div>

        <!-- Chat Input -->
        @if (chatService.selectedUser()) {
        <div class="chat">
            <div class="chat-input">
                <form [formGroup]="chatForm" (ngSubmit)="sendMessage()">
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="message"
                            placeholder="Type your message..." />

                        <button class="btn btn-primary" type="submit" [disabled]="chatForm.invalid">
                            Send
                        </button>
                    </div>
                </form>
            </div>
            <div class="chat-scroller">
                @if (showScrollButton()) {
                <button  class="scroll-btn" (click)="scrollToBottom()">
                    <i class="fa fa-arrow-down"></i>
                </button>
                }
            </div>
        </div>
        }
    </div>
</div>